@media only screen and (max-width: 721px) { 
  iframe {
    width: 100%;
  }

  img {
    width: 100%;
    height: 100%;
  }
}

.tags a:hover{
  color: #999999;
}

.tags a{
  color: white;
}
/* div:hover a {
  color: white;
} */